/*

Theme Name: Детская спортивная школа
Theme URI: http://sdushor8.by/
Author: http://sdushor8.by/
Author http://sdushor8.by/
Description: Детский гандбол
Version: 1.0.0
License: 
License 
Tags: handboll, responsive-layout
Text Domain: 

*/

@import "css/form.css";
@import "css/grid.css";
@import "css/font-awesome.css";
@import "css/superfish.css";
@import "css/camera.css";
@import "css/owl.carousel.css";
@import "css/stuck.css";

/*@import "css/style.css";*/

html {
  width: 100%;
}

a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: none;
}

body {
  // position: relative;
  background-color: #222;
  color: #666;
  font: 13px/18px 'Open Sans', sans-serif;
}

strong {
  font-weight: 700;
}

address {
  font-style: normal;
}

p {
  margin-bottom: 18px;
}

.p1 {
  margin-bottom: 14px;
}

input,
textarea {
  border-radius: 0 !important;
  outline: none !important;
}

img {
  max-width: 100%;
  height: auto;
}


/****Heads****/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 40px;
  line-height: 45px;
}

.content h2 {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.page1 .content h2 {
  padding-top: 30px;
  margin-bottom: 40px;
}

.page1 .content h2.head1 {
  padding-top: 65px;
}

.content h2 span {
  padding-bottom: 27px;
  display: inline-block;
  border-bottom: 2px solid #000;
  position: relative;
  min-width: 234px;
}


/****Lists****/

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list {}

.list1 {
  padding-top: 2px;
}

.list1 li+li {
  margin-top: 12px;
}

.list li time {
  padding-top: 1px;
  display: block;
  text-transform: uppercase;
  font: 24px/24px 'Covered By Your Grace', cursive;
}

.list li+li {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 2px solid #e8e8e8;
}


/****Links****/

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

a:hover {
  color: #d5212c;
}

#form .btn,
.btn {
  margin-top: 26px;
  font-size: 13px;
  line-height: 30px;
  background-color: #d5212c;
  color: #000;
  padding: 1px 15px 4px;
  border-radius: 20px;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#form .btn:hover,
.btn:hover {
  background-color: #000;
  color: #d5212c;
}


/****classes****/

.mb0 {
  margin-bottom: 0px !important;
}

.m0 {
  margin: 0 !important;
}

.pad0 {
  padding: 0 !important;
}

.pad1 {}

.img_inner {
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 25px;
  margin-top: 8px;
}

.fleft {
  float: left;
  width: auto !important;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-top: 7px;
}

.style1 {
  float: right;
  margin-left: 20px;
  margin-top: -20px;
}

.oh {
  overflow: hidden;
}

.fright {
  float: right !important;
}

.upp {
  text-transform: uppercase;
}

.alright {
  text-align: right;
}

.ta__center {
  text-align: center;
}

.ta__left {
  text-align: left;
}

.wrapper,
.extra_wrapper {
  overflow: hidden;
}

.clear {
  float: none !important;
  clear: both;
}

.oh {
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.rel {
  position: relative;
}


/*header*/

header {
  display: block;
  position: relative;
  z-index: 800;
}

.logo__wr {
  max-width: 100px;
  padding: 10px;
  background: #222;
  border-radius: 20px;
}

.container.container-nav {
  width: auto;
  padding: 0 20px;
}

.angle {
  width: 100%;
  z-index: 800px;
}

.bot__angle {
  position: absolute;
  bottom: 100%;
  left: 0;
}

.top__angle {
  position: absolute;
  bottom: 0;
  left: 0;
}

header h1 {
  padding: 0;
  position: relative;
  text-align: center;
  float: left;
  z-index: 990;
  // bottom: -16px;
  margin-bottom: -35px;
  // margin-top: 10px;
}

header h1 a {
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -999px;
  transition: 0s ease;
  -o-transition: 0s ease;
  -webkit-transition: 0s ease;
}

header h1 a img {
  display: block;
}


/****Content****/

.content {
  background-color: #fff;
  padding-bottom: 52px;
  min-height: 400px;
}

.page1 .content {
  padding-bottom: 147px;
}


/****Blocks****/

.new {
  position: relative;
  display: block;
  margin-top: 3px;
  text-align: center;
  background-color: #f9f9f9;
}

.new:hover {
  background-color: #d5212c;
  color: #222;
}

.new:hover .news_top .text1 {
  color: #222;
}

.new:hover .news_top .text1:after {
  background-color: #222;
}

.abs_time {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  color: #fff;
  z-index: 5;
  text-transform: uppercase;
  padding: 5px 0 2px;
  background: url(images/d_capt.png) 0 0 repeat;
  /*font: 24px/30px 'Covered By Your Grace', cursive;*/
}

.news_top {
  padding: 0 15px 18px;
  min-height: 150px;
}

.news_top .text1 {
  padding: 17px 0 16px;
  margin-bottom: 12px;
  position: relative;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news_top .text1:after {
  position: absolute;
  background-color: #222;
  height: 2px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  content: '';
  bottom: 0;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.block1 {
  margin-top: -18px;
  margin-right: -1px;
  text-align: center;
}

.block1_link {
  display: block;
  position: relative;
}

.block1_link img {
  width: 100%;
  box-shadow: 0 0 #fff;
  border-radius: 50%;
  height: auto;
}

.block1_capt {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  color: #fff;
  overflow: hidden;
  height: 0;
  background: url(images/r_capt.png) 0 0 repeat;
}

.block1_link:hover .block1_capt {
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.block1_capt span {
  display: inline-block;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -91px;
  margin-top: -17px;
  color: #222;
  font-size: 13px;
  line-height: 20px;
  padding: 7px 48px 8px;
  border-radius: 20px;
  border: 2px solid #000;
}

.block1 .text1 {
  padding: 17px 0 16px;
  margin-bottom: 12px;
  position: relative;
}

.block1 .text1:after {
  position: absolute;
  background-color: #222;
  height: 2px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  content: '';
  bottom: 0;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.block2 {
  padding-top: 3px;
  text-align: center;
}

.block2 .count {
  color: #fff;
  font: 50px/60px 'Anton', sans-serif;
  width: 60px;
  height: 60px;
  border-radius: 500px;
  background-color: #000;
  margin: 0 auto;
}

.block2 .text1 {
  padding: 13px 0 16px;
  margin-bottom: 12px;
  position: relative;
}

.block2 .text1:after {
  position: absolute;
  background-color: #222;
  height: 2px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  content: '';
  bottom: 0;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}


/*.blog {
    margin-top: 7px;
}*/

.blog +.blog {
  margin-top: 36px;
}

.blog .abs_time {
  padding-bottom: 3px;
  text-align: center;
}

.blog_links {
  position: relative;
  top: -6px;
  line-height: 30px;
  padding-top: 1px;
  margin-right: 20px;
  float: left;
  text-align: right;
  padding-left: 8px;
}

.blog .rel {
  margin-bottom: 14px;
}

.blog_links .color1 {
  font-style: italic;
}

.blog .text1 {
  line-height: 24px;
}

.blog1 .abs_time {
  padding-bottom: 3px;
  text-align: center;
}

.blog1 .links {
  margin-bottom: 18px;
}

.blog1+.blog1 {
  margin-top: 45px;
}

.blog1 .links .color1 {
  font-style: italic;
}

.prv p+.text1 {
  padding-top: 11px;
}


/**Contacts**/

.contacts {
  position: relative;
  color: #222;
  padding-bottom: 51px;
  text-align: center;
  background-color: #f9f9f9;
  border-bottom: 3px solid #d5212c;
  border-top: 1px solid #f3f3f3;
}

.contacts a {
  text-decoration: underline;
}

.contacts a:hover {
  color: #222;
  text-decoration: none;
}

.cnts_title {
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  padding-top: 38px;
  padding-bottom: 15px;
  margin-bottom: 18px;
  border-bottom: 2px solid #3b3b3b;
  text-transform: uppercase;
}

.contacts .color1 {
  color: #222;
}


/****Tabs****/

.tabs {
  text-align: center;
}

.div-nav {
  margin-bottom: 44px;
  text-align: center;
}

.div-nav li {
  display: inline-block;
  font-size: 20px;
  line-height: 22px;
  font-weight: 800;
  color: #222;
}

.div-nav li+li {
  margin-left: 73px;
}

.div-nav li a {
  text-decoration: underline;
  border-radius: 20px;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 100;
  text-transform: uppercase;
  color: #d5212c;
  background: #000;
}

.div-nav li a:hover {
  text-decoration: none;
  color: #000000;
  background: #d5212c;
}

.div-nav .selected a {
  color: #000000;
  background: #d5212c;
}


/****Separators****/

.clear.sep__1 {
  height: 57px;
}


/****Text styles****/

.text1 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 100;
  text-transform: uppercase;
  color: #222;
  margin-bottom: 11px;
}

.color1 {
  color: #9b3334;
}

.color1 a:hover,
a.color1:hover {
  color: #222;
}

.color2 {
  color: #222;
}

.td_underline {
  text-decoration: underline;
}


/****Map****/

.map {
  overflow: hidden;
}

.map .text1 {}

.map figure {
  min-height: 350px;
  margin-bottom: 14px;
  padding-top: 7px;
  position: relative;
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.map figure iframe {
  width: 100%;
  height: 360px;
  max-width: 100%;
}

.address1 {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #222;
}

.address1 dt {
  line-height: 24px;
}

.address1+.address1 {
  border-bottom: none;
}

.address1+.address1 dd span {
  min-width: 200px;
}

.address1 dd span {
  min-width: 73px;
  display: inline-block;
  text-align: left;
}

.address1 dd span.col1 {
  min-width: 0;
}


/**Footer**/

#footer {
  border-top: 3px solid #d5212c;
  display: block;
  text-align: center;
  color: #fff;
  padding: 25px 0 40px;
}

.copyright {}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  left: 51%;
  margin-left: 640px;
  overflow: hidden;
  width: 40px;
  height: 42px;
  border: none;
  text-indent: -999px;
  z-index: 20;
  background: url(images/totop.png) no-repeat left 0 #d5212c;
  border: 2px solid #3b3b3b;
  transition: 0s ease;
  -o-transition: 0s ease;
  -webkit-transition: 0s ease;
  border-radius: 50%;
}

#toTop:hover {
  outline: none;
  background-color: #fff;
}

.pagination {
  margin: 20px 0;
}

.page-numbers {
  font-size: 16px;
  line-height: 30px;
  background-color: #000;
  color: #d5212c;
  padding: 1px 15px 4px;
  display: inline-block;
  text-transform: uppercase;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a.page-numbers:hover,
.page-numbers.current {
  background-color: #d5212c;
  color: #000;
}


/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 979px) {
  .extra_wrapper {
    overflow: visible;
  }
  .blog_links {
    margin-right: 0;
    float: none;
  }
  .style1 {
    margin-top: 0;
  }
  .address1 {
    float: none;
  }
  .address1 +.address1 {
    margin-left: 0;
    margin-top: 30px;
  }
  .map figure,
  .map figure iframe,
  #form input,
  #form textarea,
  #form .success {
    width: 100% !important;
    float: none !important;
  }
  #form .success {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  .map figure {
    height: auto !important;
  }
  .map figure {
    margin-bottom: 15px;
  }
  .nowrap {
    white-space: normal;
  }
  h2 {
    font-size: 45px;
  }
  .div-nav li + li {
    margin-left: 12px;
  }
  .camera_pag {
    right: 0;
    margin-right: 0;
    left: 0;
    text-align: center;
    bottom: -20px;
  }
  .camera_pag ul li {
    float: none;
    display: inline-block;
  }
  .caption h2 {
    line-height: 32px;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .caption span {
    font-size: 15px;
  }
  .caption {
    top: 20px;
    margin-top: 0;
  }
  .caption a {
    padding-left: 15px;
    padding-right: 15px;
  }
  .btns .btn {
    min-width: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 996px) {
  .logo__wr {
    position: absolute;
    left: 50%;
    margin-left: -60px;
    width: 100px;
    z-index: 1000;
  }
  .navigation {
    float: none;
  }
  .nav-left {
    box-sizing: border-box;
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 70px;
  }
  .nav-left li { 
    display: inline-block;
    float: none;
  }
  .nav-right {
    box-sizing: border-box;
    float: right;
    width: 50%;
    text-align: left;
    padding-left: 70px;
  }
  .nav-right li { 
    display: inline-block;
    float: none;
  }
}

@media only screen and (max-width: 767px) {
  .caption {
    display: none;
  }
  .blog1+.blog1 {
    margin-top: 40px;
  }
  #owl img {
    width: 100%;
  }
  .blog {
    margin-top: 40px !important;
  }
  .blog img {
    width: 100%;
  }
  .list li {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 2px solid #e8e8e8;
  }
  .block1 {
    margin-top: 0;
    margin-right: 0;
    padding-bottom: 40px;
  }
  .div-nav li {
    float: none;
    display: block;
    text-align: center;
    margin-left: 0 !important;
  }
  .div-nav li+li {
    margin-top: 20px;
  }
  .img_inner,
  .style1 {
    width: 100% !important;
    float: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 20px !important;
    min-height: 25px;
  }
  .block2 {
    margin-bottom: 30px;
  }
  h2 {
    font-size: 28px;
  }
  .img_inner img {
    width: 100%;
  }
  header h1 {
    position: relative !important;
    // margin: 10px auto;
    // float: none;
    left: 0;
    text-align: center;
    bottom: 0;
  }
  header h1 a {
    // max-width: 90%;
    width: auto;
    display: inline-block;
    height: auto;
  }
  .map figure iframe {
    height: 300px;
  }
  .content .noresize {
    width: auto !important;
    float: left !important;
    margin-right: 20px !important;
    margin-top: 4px !important;
  }
  .img_inner {
    margin-top: 30px;
  }
  .none {
    clear: both;
  }
}


/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
