.navigation {
  z-index: 999;
  float: right;
  position: relative;
}

.navigation .sf-menu {
  z-index: 990;
  // text-align: left;
  position: relative;
}

nav {
  position: relative;
  padding: 0;
}

.sf-menu ul {
  position: absolute;
  top: -999px;
  display: none;
}

.sf-menu>li {
  display: block;
  position: relative;
  float: left;
  font-size: 16px;
  line-height: 22px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.sf-menu>li+li {
  margin-left: 1px;
}

.sf-menu>li>ul>li {
  float: none;
  position: static;
}

.sf-menu>li>a {
  position: relative;
  color: #d5212c;
  padding: 30px 7px;
  display: block;
  border-top: 3px solid transparent;
  font-weight: 100;
  display: block;
  text-transform: uppercase;
}

.sf-menu>li.sfHover>a,
.sf-menu>li.current_page_item>a,
.sf-menu>li>a:hover {
  border-color: #d5212c;
  // color: #000;
  // background: #d5212c;
}

.sf-menu>li.current_page_item>a.sf-with-ul:after,
.sf-menu>li.sfHover>a.sf-with-ul:after {
  background-position: 0 0;
}

.sf-menu>li>ul>li>a.sf-with-ul:after {
  content: "\f105";
  font-family: 'FontAwesome';
  position: absolute;
  width: 5px;
  font-size: 13px;
  line-height: 13px;
  font-weight: normal;
  right: 10px;
  color: #fff;
  top: 50%;
  margin-top: -4px;
  pointer-events: none;
  z-index: 999;
}

.sf-menu>li>a.sf-with-ul:after {
  content: '';
  font-family: 'FontAwesome';
  position: absolute;
  width: 5px;
  left: 50%;
  margin-left: -8px;
  font-size: 25px;
  line-height: 13px;
  font-weight: normal;
  color: #fff;
  bottom: 5px;
  pointer-events: none;
  z-index: 999;
}


/*================================>> 2 Level <<========================================*/

.sf-menu>li ul {
  left: 0;
  z-index: 999;
  width: 200px;
  background-color: #222;
  top: 100%;
  padding: 9px 0;
}

.sf-menu li ul li {
  position: relative;
  text-align: left;
  float: none !important;
}

.sf-menu li ul li a {
  padding: 0 0 0 30px;
  position: static;
  font-size: 16px;
  line-height: 40px;
  z-index: 999;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  display: block;
}

.sf-menu li li a:hover,
.sf-menu li.sfHover li.sfHover>a {
  background: #d5212c;
  color: #000;
}


/*================================>> 3 Level <<========================================*/

.sf-menu>li ul li ul {
  position: absolute;
  left: 100%;
  margin-left: 0;
  top: 0;
  padding-top: 13px;
  padding-bottom: 15px;
}

.sf-menu li ul ul li+li {
  margin-top: 5px;
}

.sf-menu li ul ul li a {
  padding: 0 0 0 20px;
  display: block;
  line-height: 30px;
}

.sf-menu li ul ul li a:hover {
  color: #d5212c;
  /*background-color: #9b3334;*/
  background-color: transparent;
}


/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
  .navigation {
    float: left !important;
    padding: 40px 0px 0px !important;
    // clear: both;
    margin: 0;
    min-height: 0px;
    width: calc(100% - 120px);
  }
  .navigation nav {
    border: none !important;
    float: none !important;
    font: 12px/15px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #927c67;
    margin: 0 auto;
    padding-left: 0 !important;
  }
  header nav ul {
    border: none;
  }
  .sf-menu {
    display: none !important;
    float: none;
  }
  .select-menu {
    font: 12px/15px Arial, Helvetica, sans-serif;
    color: #202020;
    width: 100%;
    margin: 0 auto;
    float: none;
    outline: none;
    display: block !important;
    border: 2px solid #fff;
  }
}

ul.mobile-menu {
  display: none !important;
  float: none;
}


/*table*/

table {
  background-color: transparent;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 2px solid #ddd;
}

.table .table {
  background-color: #fff;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #222;
  color: #fff;
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #222;
  color: #fff;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #d5212c;
  color: #222;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #d5212c;
  color: #222;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

.text-center {
  text-align: center;
}
