/****Form****/

#form {
	position: relative;
	padding-top: 7px;
}

#form input {
	width: 100%;
	height: 35px;
	float:left;
	background: #fff;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	border: 1px solid #d6d6d6;
    color: #666;
    font: 13px/18px 'Open Sans', sans-serif;
    padding: 7px 20px 10px;
    border-radius: 20px !important;
}


#form textarea {
	width: 100%;
	height: 309px;
	background: #fff;
	position: relative;
	resize:none;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	float:left;
	margin: 0;
	color: #666;
    font: 13px/18px 'Open Sans', sans-serif;
	border: 1px solid #d6d6d6;
    padding: 7px 20px 10px;
    border-radius: 20px !important;
}



#form ._placeholder {
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #666;
    font: 13px/18px 'Open Sans', sans-serif;
	border: 1px solid transparent;
    padding: 7px 20px 10px;
	height: 35px !important;
	width: 100% !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	cursor: text !important;
	display: block;
}

#form ._placeholder.hidden {
	display: none;
}

#form ._placeholder.focused {
	opacity: 0.3;
}


#form .message ._placeholder {
	height: 100% !important;
}

#form label {
	position:relative;
	display: block;
	min-height: 45px;
	float: left;
	width: 100%;
	clear: left;
}

#form label+label {
}
#form label.message {
	width: 100%;
	position: relative;
	margin-left: 0;
}




#form .error-message, #form .empty-message {
	color: #E02A05;
	font-size: 11px;
	line-height:14px;
	width:auto;
	position: absolute;
	z-index: 995;
	top: 10px;
	opacity: 0;
	right: 5px;
	float:left;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

/*#form .message .error-message, #form .message .empty-message {
	bottom: -16px;
}*/




#form .invalid .error-message, #form .empty .empty-message {
	opacity: 1;
}

.btns {
	font-size: 0;
	line-height: 0;
	padding-top: 30px;
}

.btns .btn {
	text-align: center;
	width: 48%;
	text-align: center;
	margin-top: 0;
}

.btns .btn+.btn {
	margin-left: 4%;
}

.phone {
	position: relative;
}

.success_wrapper {
	position: relative;
}

.message br {
	height: 0;
	line-height: 0;
}

#form .success-message {
	display: none;
	opacity: 0;
	position: absolute;
	background: #fff;
	border: 1px solid #d6d6d6;
	width: 100%;
	height: 80px;
	text-align: center;
	border-radius: 20px;
	padding: 28px 10px;
	z-index: 990;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

#form.success .success-message {
	display: block;
	opacity: 1;
}

@media only screen and (max-width: 1199px) {
#form label {
	float: none !important;	
	width: 100%;
	margin-left: 0 !important;
}

#form .success-message {
	width: 100% !important;
}


}


@media only screen and (max-width: 995px) {

#form {
}

#form .success-message {
	border-color: #000;
}


#form input, #form textarea {
	border-color: #000;
}


#form .success-message {
	width: 100%;
}

.btns {
	padding-right: 0;
}

#form label.email {
	width: 100%;
	margin: 0;
}

.map figure {
	float: left !important;
	margin-right: 0px !important;
}

#form input, #form textarea, #form .success-message {
/*	border: 1px solid #3a5363;
*/}

}

@media only screen and (max-width: 767px) {

#form {
	padding-top: 40px;
}


.map figure {
	width: 100% !important;
	float: none !important;
	display: block !important;
	margin-right: 0px !important;
}
  .btns {
		padding-bottom: 0;  
  }
  
  #form textarea {
		height: 300px !important; 
  }

   #form {
 }
  
}
@media only screen and (max-width: 479px) {

  #form textarea {
		height: 200px !important;  
  }
}