/*.block1_count {
	behavior: url(js/PIE.htc);
	position: relative;
}*/

body {
	min-width: 1310px;
}

#form .invalid .error-message, 
#form .empty .empty-message {
	display: block;

}

#form .error-message, 
#form .empty-message {
	display: none;
}

/*
.gall_item:hover img{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
} */

.camera_prev {
	margin-left: -650px;
}

.camera_next {
	margin-right: -650px;
}

.camera_prev, 
.camera_next {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=21);
}

.camera_prev:hover, 
.camera_next:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
} 


#accordion dt a:after {
    display: none;
}

#accordion dt.ui-state-active a:after,
#accordion dt a:hover:after {
    display: block;
}

#accordion dt.ui-state-active a:before,
#accordion dt a:hover:before  {
    display: none;
}