
.navigation  {
	z-index: 999;
	float: right;
	position: relative;
}

.navigation .sf-menu {
	z-index: 990;
	text-align: left;
	position: relative;
}

nav {
	 position:relative;
	 padding: 0;
}

.sf-menu ul {
	position:absolute;
	top:-999px; 
	display:none;
}

.sf-menu>li {
	display: block;
	position: relative;
	float: left;
	font-size: 16px;
	line-height: 22px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.sf-menu>li+li {
	margin-left: 1px;
}

.sf-menu>li>ul>li {
  float: none;
  position: static;
}

.sf-menu>li>a{
	position: relative;
	color: #fcee06;
	padding: 40px 7px;
	display: block;
	/*border-top: 2px solid #333;*/
	font-weight: 100;
	display: block;
	text-transform: uppercase;
}

.sf-menu>li.sfHover>a, .sf-menu>li.current_page_item>a, .sf-menu>li>a:hover {
	/*border-color: #9b3334;*/
	color: #000;
	background: #fcee06;
}

.sf-menu>li.current_page_item>a.sf-with-ul:after, 
.sf-menu>li.sfHover>a.sf-with-ul:after {
	background-position: 0 0;
}
 
.sf-menu>li>ul>li>a.sf-with-ul:after {
	content: "\f105";
	font-family: 'FontAwesome';
	position: absolute;
	width: 5px;
	font-size: 13px;
	line-height: 13px;
	font-weight: normal;
	right: 10px;
	color: #fff;
	top: 50%;
	margin-top: -4px;
	pointer-events: none;
	z-index: 999;
}

.sf-menu>li>a.sf-with-ul:after {
	content: '';
	font-family: 'FontAwesome';
	position: absolute;
	width: 5px;
	left: 50%;
	margin-left: -8px;
	font-size: 25px;
	line-height: 13px;
	font-weight: normal;
	color: #fff;
	bottom: 5px;
	pointer-events: none;
	z-index: 999;
}


/*================================>> 2 Level <<========================================*/
.sf-menu>li ul {
	left: 0;
	z-index: 999; 
	width: 200px;
	background-color: #222;
	top: 100%;
	padding: 9px 0;
}



.sf-menu li ul li {
	position: relative;
	text-align: left;
	float: none !important;
}

.sf-menu li ul li a {
	padding: 0 0 0 30px;
	position: static;
	font-size: 16px;
	line-height: 40px;
	z-index: 999;
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	display: block;
}


.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a {
	background: #fcee06;
	color: #000;
}

/*================================>> 3 Level <<========================================*/
.sf-menu>li ul li ul{
	position: absolute;
	left: 100%;
	margin-left: 0;
	top: 0;
	padding-top: 13px;
	padding-bottom: 15px;
}

.sf-menu li ul ul li+li {
	margin-top: 5px;
}

.sf-menu li ul ul li a {
	padding: 0 0 0 20px;
	display: block;
	line-height: 30px;
}

.sf-menu li ul ul li a:hover {
	color: #fcee06;
	/*background-color: #9b3334;*/
	background-color: transparent;
}


/*==================================RESPONSIVE LAYOUTS===============================================*/


@media only screen and (max-width: 995px) {

	
}

@media only screen and (max-width: 767px) {
	.navigation {
		float: none !important;
		padding: 0px 0px 20px !important;
		clear: both;
		margin: 0;
		min-height: 0px;
	}


  .navigation  nav{
  	border: none !important;
		float:none !important;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		margin: 0 auto;
		padding-left: 0 !important;
		
	
	}


	

  header nav ul {
  	border: none;
  }

	.sf-menu{display:none !important; float: none;}

	.select-menu {
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#202020;
		width:100%;
		margin: 0 auto;
		float: none;
	    outline: none;
	    display: block !important;
		border:2px solid #fff;
	}
	

}
